{% extends 'base.html' %}

{% block content %}
<section class="container">
    <div class="thumbnail">
        {% for channel in object_list %}
        <h3>{{ channel.title }}</h3>
        <p>{{ channel.description|striptags }}</p>
        <ul>
            {% if channel.language %}<li>{{ channel.language }}</li>{% endif %}
            {% if channel.copyright %}<li>{{ channel.copyright }}</li>{% endif %}
            {% if channel.managing_editor %}<li>{{ channel.managing_editor }}</li>{% endif %}
            {% if channel.web_master %}<li>{{ channel.web_master }}</li>{% endif %}
            {% if channel.pub_date %}<li>{{ channel.pub_date|date:'r' }}</li>{% endif %}
            {% if channel.last_build_date %}<li>{{ channel.last_build_date|date:'r' }}</li>
            {% endif %}
            <!-- <category></category> -->
            {% if channel.generator %}<li>{{ channel.generator }}</li>{% endif %}
            {% if channel.ttl %}<li>{{ channel.ttl }}</li>{% endif %}
            {% if channel.image %}
            <image src="{{ channel.image.url }}" class="img-responsive img-rounded"
                style="max-height: 50px; max-width: 50px;">{% endif %}

                {% if channel.subtitle %}<li>{{ channel.subtitle }}</li>{% endif %}
                {% if channel.summary %}<li>{{ channel.summary }}</li>{% endif %}
                <li>{{ channel.block }}</li>
                <li>{{ channel.explicit }}</li>
        </ul>
        {% for item in channel.item_set.all %}
        <ol>
            <li>Title: {{ item.title }}</li>

            <li>Description: {{ item.description }}</li>
            {% if item.author %}<li>Author: {{ item.author }}</li>{% endif %}
            <audio controls>
                <source src="{{item.audio.url}}" type="audio/mpeg">
            </audio>
        </ol>
        {% endfor %}

        {% endfor %}
    </div>

</section>
{% endblock %}
