{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    section.hero {
        width: 50%;
        height: auto;
    }

    h3 {
        color: #144C62;
    }
</style>
<div class="row">
    <div class="col-7">
        <img src="https://res.cloudinary.com/actserv/image/upload/v1643028321/media/images/ambasadors_yea92v.jpg"
            alt="">
    </div>
    <div class="col-5">
        <section>
            <h3>Who we are ?</h3>
            <p>
                Laylinks is a platform that connects different lay ministers/ resource persons (speakers,
                singers/singing
                groups,
                medical missionaries, producers etc) together, allows them to be easily identified, developed and
                deployed.
            </p>

            <hr>

            <h3>
                What Problem(s) are we trying to solve
            </h3>
            <ol>
                <li>
                    Make it easier to identify existing and future lay ministers and lay ministries at two levels
                    By churches or people who may need their services but who would otherwise not know about their
                    existence
                    and/or
                    availability By the wider community of lay ministers who do not know each other
                </li>
                <li>
                    Create a community that supports intentional development of the lay minister and lay ministry cadres
                    through
                    learning and development and a community of practice using technology
                </li>
                <li>
                    Make it easier to support the deployment of lay ministers and ministries to ministry assignments in
                    a way
                    that
                    ensures
                    Ministers are matched properly to ministry opportunities
                    Their logistics pre, during and after the assignment are well addressed so that they can focus on
                    their
                    craft
                </li>
            </ol>
        </section>

    </div>
</div>

<section class="container">




    <hr>
    <h3>Services that we offer</h3>
    <ol>
        <li>
            Communicating Forum
        </li>
        <p>
            Users(individual ministers and entire ministries) are able to create a verifiable profile and be
            sought on
            the basis of various identifiers and their abilities, talents and offerings.
            Also as they create their profile it links them to other services available on the platform.
            Their record should be verifiable by their churches upon which their accounts can go live and they can enjoy
            the
            benefits of being on the platform like participating in community activities, being sought and booked
            through the
            platform, accessing paid and free learning opportunities.
            Forums/groups where people can discuss themes depending on interest
        </p>
        <li>
            Sermon resources
        </li>
        <p>
            We share ministry resources as audiovisual and written in a way that is trackable to an individual
            or
            ministry
        </p>
        <li>
            Outsourcing of talents
        </li>
        <p>
            Various users who have various support abilities can create
            profiles,
            bid for work related to ministry assignments (like editing, transcription, driving, graphics creation,
            translation
            etc) from the ministers or ministries on the platform and get paid through the platform.
        </p>
        <li>
            Mentorship
        </li>
        <p>
            A Learning management system platform that allows for customised bite-sized learning and training
            products online.
        </p>
        <li>
            Funding
        </li>
        <p>
            We cater for funding from these perspectives:
        </p>
        <ul>
            <li>Giving to lay links as a ministry</li>
            <li>Giving to a minister on lay links but through the platform</li>
            <li>Giving to a cause supervised or supported by lay links through the platform</li>
            <li>Ability to track giving and see progress on the project/person given to</li>
        </ul>

        <li>
            Research and Analysis
        </li>
        <p>
            By analysis we mean through the following ways
        </p>
        <ul>
            <li>Surveys for pre, during and post ministry surveys per minister/ministry for every engagement</li>
            <li>Sharing of research resources for both ales and also for free</li>
            <li>Hosting relevant surveys for other independent researches</li>
        </ul>

        <li> Shop </li>
        <p>
            A shop for the various items by lay links and also from the ministers/ ministries on the platform
        </p>
        <ul>
            <li>Able to sell music and digital media resources online on the platform</li>
            <li>The shop can also be integrated to guys who do deliveries.</li>
        </ul>
    </ol>

</section>
{% endblock content %}