<style>
  footer {
    background-color: #144C62;
  }
</style>

<footer class="page-footer text-center font-small mt-4 wow fadeIn">

  <hr class="my-4">

  <!-- Social icons -->
  <div class="pb-4">
    <a href="https://lunyamwi.github.io" target="_blank">
      <i class="fab fa-facebook-f mr-3"></i>
    </a>

    <a href="https://lunyamwi.github.io" target="_blank">
      <i class="fab fa-twitter mr-3"></i>
    </a>

    <a href="https://lunyamwi.github.io" target="_blank">
      <i class="fab fa-youtube mr-3"></i>
    </a>

    <a href="https://lunyamwi.github.io" target="_blank">
      <i class="fab fa-google-plus-g mr-3"></i>
    </a>

    <a href="https://lunyamwi.github.io" target="_blank">
      <i class="fab fa-dribbble mr-3"></i>
    </a>

    <a href="https://lunyamwi.github.io" target="_blank">
      <i class="fab fa-pinterest mr-3"></i>
    </a>

    <a href="https://lunyamwi.github.io" target="_blank">
      <i class="fab fa-github mr-3"></i>
    </a>

    <a href="{% url 'donation:donation' %}">
      <i class="fas fa-money">
        &nbsp; Donate
      </i>
    </a>
  </div>
  <!-- Social icons -->

  <!--Copyright-->
  <div class="footer-copyright py-3 text-white">
    © 2019 Copyright:
    <a href="https://lunyamwi.github.io" target="_blank"> Lunyamwi.com </a>
  </div>
  <!--/.Copyright-->

</footer>
