{% extends "base.html" %}
{% load crispy_forms_tags %}
<!-- templates/payment.html -->
{% block content %}
<div class="container">
    {% if not is_mpesa %}
    <form action="{{ form.action }}" method="{{ form.method }}">
        {% csrf_token %}
        {{ form | crispy}}
        <p><input type="submit" value="Proceed" /></p>
    </form>
    {% else %}
    <form action="." method="POST">
        {% csrf_token %}
        {{ mpesa_form | crispy}}
        <p><input type="submit" value="Proceed" /></p>
    </form>
    {% endif %}
</div>
{% endblock %}